$max-width: 1080px;
$dev-bgcolor: #f0f0f0;

$media-breakpoint-large: 1080px;

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 auto;
  max-width: $max-width;
}

.contents {
}

.photo-container {
  @media (min-width: $media-breakpoint-large) {
    min-width: 300px;
  }

  @media (max-width: $media-breakpoint-large) {
    min-width: 200px;
  }

  min-height: 100px;

  background: $dev-bgcolor;
  border-radius: 10px;

  // Children will be absolutely positioned within the box
  position: relative;

  flex: 1;

  // Transition on "all" might affect performance
  transition: all 0.15s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.photo-author {
  position: absolute;
  font-weight: bold;
  left: 15px;
  bottom: 5px;
}

.photo-image {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;

  // Property adopted only in 2020/2021 for some browsers
  gap: 10px;
}